/* src/components/ContactInfo.css */

.contact-info {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 140%;
    margin: 0 auto;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #0056b3;
}